.main_calc_price {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 56px;
  text-align: left;
  display: flex;
  font-size: 18px;
  .left-block {
    background: #f3f3f3;
    padding: 25px 20px;
    width: 54%;
    float: left;
    label {
      font-weight: normal;
      width: 100%;
    }
    .col-sm-6 {
      margin-bottom: 16px;
      input[type="text"] {
        width: 94px;
        vertical-align: middle;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        padding: 2px 8px;
      }
      .unit {
        display: inline-block;
        vertical-align: middle;
        margin-left: 4px;
      }
      .info {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 8px;
      }
    }
  }
  .right-block {
    width: 46%;
    padding: 25px 20px;
    float: left;
    background: #020202;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .price {
      font-size: 36px;
      margin: 20px 0;
      .btn-tooltip {
        vertical-align: middle;
        margin-top: 12px;
        float: right;
        font-size: 18px;
        margin-left: 15px;
        .svg-wrap {
          width: 15px;
          height: 15px;
          display: inline-block;
          vertical-align: baseline;
        }
      }
    }
  }
  @media (max-width: $screen-md - 1px) {
    .right-block {
      .btn-lg {
        padding-left: 5px;
        padding-right: 5px;
        white-space: normal;
        height: auto;
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: $screen-sm - 1px) {
    flex-wrap: wrap;
    .left-block {
      width: 100%;

    }
    .right-block {
      width: 100%;
    }
  }
}

